<html>
    <head>
        <meta charset="UTF-8">
        <title>COVID Recognition</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="fixed bg1" id="1">
                <br>
                <br>
                <br>
                <img src="static/new6.PNG" alt="Smiley face" width="300" height="150" style="float: left;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>ARTIFICIAL INTELLIGENCE FOR COVID-19</h1>
                <br>
                <br>
                <br>
                <br>
                <a href="#2"><button class = "submitBtn" >ABOUT</button>></a>
                <br>
                <br>
                <a href="#3"><button class = "submitBtn" >COVID-19 Recognizer</button>></a>
            </div>
            <div class="fixed bg2" id="2">
                <br>
                <br> 
                <br>
                <br>  
                <h1>ABOUT</h1>
                <br>
                <br> 
                <br>
                <br>  
                <style>
                p {
                    font-size: 20px;
                }
                </style>
                <p>CORNEA is a web application designed by three Masters of Data Science
                    students of Illinois Institute of Technology.COVID-19 Recognizer tool in this application 
                    will help the Radialogist if the patient is COVID-19 virus positive, is he/she infected 
                    with Viral Pneumonia, or has normal reports.</p>
                <br> 
                <br>
                <br>  
                <a href="#3"><button class = "submitBtn" >COVID-19 Recognizer</button>></a>
                <br>
            </div>
            <div class="fixed bg3" id="3">
                <div>
                    <br>   
                    <a href="#1"><button class = "submitBtn" style="float: right;">HOME</button>></a> 
                    <br>
                    <br> 
                    <br>
                    <br>                
                    <h1>COVID RECOGNIZER</h1>
                    <br>                     
                    </div>
                    <div class="container">
                    <br>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <h1>Upload Images</h1>
                    <form id="form" action="{{url_for('predict')}}" method="POST" enctype="multipart/form-data">
                        Chest X_ray image can be in .jpg or.png format only :
                        <br>
                        <p><input type="file" name="file"  multiple/>
                        <input type='submit' value='upload' class="submitBtn">
                    </form>
                    <h2>{{prediction_text}}</h2>
                    <br>
                    </div>
                    <div>
                    <br>
                    <!--a href="static/Report.csv" download="Report" -->
                        <!--button class="submitBtn">Download File</button-->
                    <!--/a-->
                    <button type="submit" onclick="window.open('static/Report.csv')" class="submitBtn">DOWNLOAD</button>
                    </div>
            </div>
        </div>
    </body>
</html>