<html>
    <head>
        <meta charset="UTF-8">
        <title>COVID Recognition</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="fixed bg1" id="1">
                <br>
                <br>
                <br>
                <img src="static/new_logo2.PNG" alt="Smiley face" width="250" height="110" style="float: left;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>ARTIFICIAL INTELLIGENCE FOR COVID-19 DETECTION</h1>
                <br>
                <br>
                <br>
                <br>
                <a href="#2"><button class = "submitBtn" >ABOUT</button>></a>
                <br>
                <br>
                <a href="#3"><button class = "submitBtn" >COVID-19 RECOGNIZER</button>></a>
            </div>
            <div class="fixed bg2" id="2">
                <br>
                <br> 
                <br>
                <br>  
                <h1>ABOUT</h1>
                <br>
                <br> 
                <br>
                <br>  
                <style>
                p {
                    font-size: 25px;
                }
                </style>
                <p style="margin-left: 80px; margin-right: 80px; text-shadow: 1.5px 1.5px #4966b1;">CORNEA is a web application developed by three Data Science graduate
                    students of Illinois Institute of Technology - Olugbenga Abdulai, Kinjal Kachi, and Sujay Puvvadi. The COVID-19 Recognizer tool is a machine learning model for X-Ray images that classifies an 
                    image as one of three classes - COVID-19, Viral Pneumonia, or Normal. Radiologists might find this tool useful for disease recognition.</p>
                <br> 
                <br>
                <br>  
                <a href="#3"><button class = "submitBtn" >COVID-19 RECOGNIZER</button>></a>
                <br>
            </div>
            <div class="fixed bg3" id="3">
                <div>
                    <br>   
                    <a href="#1"><button class = "submitBtn" style="float: right;">HOME</button>></a> 
                    <br>
                    <br> 
                    <br>
                    <br>                
                    <h1>COVID-19 RECOGNIZER</h1>
                    <br>                     
                    </div>
                    <div class="container">
                    <br>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <h1>Upload Images</h1>
                    <form id="form" action="{{url_for('predict')}}" method="POST" enctype="multipart/form-data">
                        <p style="font-size: 13px; text-shadow: 1px 1px #4966b1;">Chest X-Ray image should be in .jpg or.png format only:</p>
                        <br>
                        <p><input type="file" name="file"  multiple accept="image/x-png, image/jpeg"/>
                        <input type='submit' value='UPLOAD' class="submitBtn">
                    </form>
                    <h2>{{prediction_text}}</h2>
                    <br>
                    <form id="form2" action="{{url_for('results')}}" method = "post">
                        <input type="submit" value = 'PREDICT' class="submitBtn">
                    </form>
                    <h2>{{result_text}}</h2>
                    <br>
                    </div>
                    <div>
                    <br>
                    <a href="/return_files/" target="blank"><button class='submitBtn'>DOWNLOAD</button></a>
                    <!--button type="submit" onclick="window.open('static/Report.csv')" class="submitBtn">DOWNLOAD</button-->
                    </div>
            </div>
        </div>
    </body>
</html>