@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
	scroll-behavior: smooth;
  }
  
body { 
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	color: #fff;
	font-size: 12px;
	text-align:center;
	letter-spacing:1.2px;
}

.main {
	height: 100%;
    padding: 30px 0;
    position: relative;
}

.fixed {
	height: 100%;
	background-attachment: fixed;
 	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
}

.fixed bg2{
	height: 150%;
}

.bg1 {
	background-image: url('../static/blue-blck.jpg');
}


.bg2 {
	background-image: url('../static/blue-blck.jpg');
}

.bg3 {
	background-image: url('../static/blue-blck.jpg');
}

.container {
    width: 600px;
	background: rgba(255, 255, 255, 0.5);
	margin:auto;
	margin-right: auto;
	margin-left: auto; 
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
	-ms-border-radius: 10px;
}

input { 
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px; 
	border: none;
	outline: none;
	padding: 5px;
	font-size: 13px;
	border: 1px solid rgba(0,0,0,0.3);
	color: black;
	border-radius: 3px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

select {
	height: 4%;
	width: 50%;
	margin-bottom: 5px; 
}

.cont{
    width: 1000px;
	background: rgba(255, 255, 255, 0.5);
	margin-right: auto;
	margin-left: auto; 
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
	-ms-border-radius: 10px;
	font-size: 20px;
	padding:auto;
	margin:auto;
	text-align:center;
}


.submitBtn{
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
    background: #4966b1;
    color: rgb(255, 255, 255);
    padding: 16px 17px;
    font-size: 13px;
	border: none;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
    box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
}

:focus {outline:0 !important;}

.btn{
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
    background: #4966b1;
    color: rgb(255, 255, 255);
	right: -75%;
    font-size: 13px;
	border: none;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
    box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
}

:focus {outline:0 !important;}